<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="/static/css/styles.css" rel="stylesheet" />
    <link
      href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css"
      integrity="sha256-IvM9nJf/b5l2RoebiFno92E5ONttVyaEEsdemDC6iQA="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
      integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E="
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
      crossorigin="anonymous"
    ></script>

    <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css"
      rel="stylesheet"
    />
  </head>
  <body class="sb-nav-fixed sb-sidenav-toggled">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><img src="../static/assets/img/bacterium.svg" style="height: 50px;"> Covid 19 Tracker | Sri Lanka</a>
    </nav>
    <div id="layoutSidenav">
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid">
            <br />
            <div class="row">
              <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                <div class="card bg-primary text-white mb-4">
                  <div class="row">
                    <div class="mobile_responsive col-12 col-md-8">
                      <div class="card-body" style="color: white;">
                        <h3 style="font-size: 48px;" class="card-title">
                          {{summary['confirmed']}}
                        </h3>
                        <p>Confirmed</p>
                      </div>
                    </div>
                    <div class="desktop_img">
                      <div class=" col-12 col-md-4">
                        <br />
                        <div style="padding-right: 15px;">
                          <i class="fas fa-check-circle fa-5x"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                <div class="card bg-warning text-white mb-4">
                  <div class="row" style="color: black;">
                    <div class="mobile_responsive col-12 col-md-8">
                      <div class="card-body">
                        <h3 style="font-size: 48px;" class="card-title">
                          {{summary['active']}}
                        </h3>
                        <p>Active</p>
                      </div>
                    </div>
                    <div class="desktop_img">
                      <div class=" col-12 col-md-4">
                        <br />
                        <div style="padding-right: 15px;">
                          <i class="fab fa-creative-commons-sampling fa-5x"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                <div class="card bg-success text-white mb-4">
                  <div class="row">
                    <div class="mobile_responsive col-12 col-md-8">
                      <div class="card-body" style="color: white;">
                        <h3 style="font-size: 48px;" class="card-title">
                          {{summary['recovered']}}
                        </h3>
                        <p>Recovered</p>
                      </div>
                    </div>
                    <div class="desktop_img">
                      <div class=" col-12 col-md-4">
                        <br />
                        <div style="padding-right: 15px;">
                          <i class="fas fa-heart fa-5x"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                <div class="card bg-danger text-white mb-4">
                  <div class="row">
                    <div class="mobile_responsive col-12 col-md-8">
                      <div class="card-body" style="color: white;">
                        <h3 style="font-size: 48px;" class="card-title">
                          {{summary['deaths']}}
                        </h3>
                        <p>Deaths</p>
                      </div>
                    </div>
                    <div class="desktop_img">
                      <div class=" col-12 col-md-4">
                        <br />
                        <div style="padding-right: 15px;">
                          <i class="fas fa-heart fa-5x"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6" >
                <div class="card mb-4" >
                  <div class="card-header">
                    <i class="fas fa-chart-area mr-1"></i>Outbreak map
                  </div>
                  <div
                    class="card-body "
                    style="display: block;">
                    <iframe
                      src="/static/html/map.html"
                      id="mapsl"
                      style="display: block;"
                    ></iframe>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="card mb-4">
                  <div class="card-header">
                    <i class="fas fa-chart-bar mr-1"></i>Outbreak curve
                  </div>
                  <div class="card-body" style="max-height: 500px;">
                    <canvas id="myLineChart" width="100%"></canvas>
                  </div>
                </div>
                <div class="card mb-4">
                  <div class="card-header">
                    <i class="fas fa-chart-bar mr-1"></i>Outbreak by provinces
                  </div>
                  <div class="card-body" style="max-height: 500px;">
                    <canvas id="myBarChart" width="100%"></canvas>
                  </div>
                </div>
              </div>
             
            </div>

            <div class="card mb-4">
              <div class="card-header">
                <i class="fas fa-table mr-1"></i>Outbreak by cases
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>Case No</th>
                        <th>Detected</th>
                        <th>Date</th>
                        <th>District</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td id="case-no"></td>
                        <td id="detected"></td>
                        <td id="detected-date"></td>
                        <td id="detected-prefecture"></td>
                        <td id="gender"></td>
                        <td id="age"></td>
                        <td id="status"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid">
            <div
              class="d-flex align-items-center justify-content-between small"
            >
              <div class="text-muted">Copyright &copy; Your Website 2019</div>
              <div>
                <a>Last update: {{last_update}}</a>
                <a href="#"> Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script type="text/javascript">
      window.appConfig = {
        time: {{ time|tojson }},
        total:{{total|tojson}},
        cases:{{cases|tojson}},
        provinces:{{provinces|tojson}}
      }
      let table = document.getElementById('dataTable')
      window.appConfig.cases.forEach(element => {
          let row = table.insertRow(element['case_no'])
          let cell1 = row.insertCell(0)
          let cell2 = row.insertCell(1)
          let cell3 = row.insertCell(2)
          let cell4 = row.insertCell(3)
          let cell5 = row.insertCell(4)
          let cell6 = row.insertCell(5)
          let cell7 = row.insertCell(6)
          cell1.innerHTML = element['case_no'];
          cell2.innerHTML = element['detected'];
          cell3.innerHTML = element['detected_date'];
          cell4.innerHTML = element['detected_prefecture'];
          cell5.innerHTML = element['gender'] ? element['gender'] : "Unknown";
          cell6.innerHTML = element['age'] ? element['age'] : "Unknown";
          cell7.innerHTML = element['status'];
        });
    </script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/static/js/scripts.js"></script>
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
      crossorigin="anonymous"
    ></script> -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"
      integrity="sha256-8zyeSXm+yTvzUN1VgAOinFgaVFEFTyYzWShOy9w7WoQ="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"
      integrity="sha256-TQq84xX6vkwR0Qs1qH5ADkP+MvH0W+9E7TdHJsoIQiM="
      crossorigin="anonymous"
    ></script>
    <script src="/static/assets/demo/chart-bar-demo.js"></script>
    <script src="/static/assets/demo/line-chart.js"></script>
    <script
      src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/static/assets/demo/datatables-demo.js"></script>
  </body>
</html>
